<div class="bg-gray-600 min-h-screen">
    <div>
        <div class="inline-flex px-6 pt-2">
            <p class="text-white font-medium leading-tight text-4xl">Vrste izdelkov</p>
        </div>
        <div class="p-6 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-5 gap-5">
            <div class="rounded overflow-hidden shadow-lg bg-gray-800" *ngFor="let vrsta of vrste">
                <div class="px-6 py-4">
                    <div class="font-bold text-sm mb-1 text-slate-400">Naziv</div>
                    <div class="font-bold text-xl mb-2 text-slate-100">{{vrsta.vrsta}}</div>
                    <div class="font-bold text-sm mb-1 text-slate-400">Število izdelkov</div>
                    <div class="font-bold text-xl mb-2 text-slate-100" *ngIf="vrsta.izdelki">{{vrsta.izdelki.length}}</div>
                </div>
                <a [routerLink]="['/primerjalnik/vrsta', vrsta.vrsta_id]"
                    class="m-2 hover:cursor-pointer inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Podrobnosti
                    <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div>
        <p class="text-white font-medium leading-tight text-4xl px-6 pt-2">Trgovine</p>
        <div class="p-6 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-5 gap-5">
            <div class="rounded overflow-hidden shadow-lg bg-gray-800" *ngFor="let trgovina of trgovine">
                <div class="px-6 py-4">
                    <div class="font-bold text-sm mb-1 text-slate-400">Ime</div>
                    <div class="font-bold text-xl mb-2 text-slate-100">{{trgovina.ime}}</div>
                    <div class="font-bold text-sm mb-1 text-slate-400">Sedež</div>
                    <div class="font-bold text-xl mb-1 text-slate-100">{{trgovina.sedez}}</div>
                    <div class="font-bold text-sm mb-1 text-slate-400">Ustanovitev</div>
                    <div class="font-bold text-xl mb-1 text-slate-100">{{trgovina.ustanovitev | spremeniDatum}}</div>
                    <div class="font-bold text-sm mb-1 text-slate-400">Število izdelkov</div>
                    <div class="font-bold text-xl mb-1 text-slate-100" *ngIf="trgovina.izdelki">{{trgovina.izdelki.length}}</div>
                </div>
                <a [routerLink]="['/primerjalnik/trgovina', trgovina.trgovina_id]"
                    class="m-2 hover:cursor-pointer inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Podrobnosti
                    <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>